{{> enTete}}
{{> menu}}
 <h1>Liste des citations déposées</h1>
 <p>Actuellement {{nbCitations}} citations enregistrées </p>

<table>
  <tr>
    <th>Nom de l'enseignant</th>
    <th>Libellé</th>
    <th>Date</th>
    <th>Moyenne des notes</th>
    <th>Noter</th>
  </tr>

  {{#each listeCitation}}
  <tr>
    <td>{{this.per_prenom}} {{this.per_nom}}</td>
    <td>{{this.cit_libelle}}</td>
    <td>{{this.cit_date}}</td>
    <td>{{this.moyenne}}</td>
      {{#if this.dejaVote}}
        <td><img src="/image/erreur.png" alt="invalide!" ></td>
      {{else}}
        <td><img src="/image/modifier.png" alt="modifier!" ></td>
      {{/if}}
  </tr>
  {{/each}}
</table>
